#content {
    max-width: 1600px;
    margin: 0 auto;
}
   nav a {text-align: center;}
    #hero-msg h1, #hero-msg h4 {text-align: center;}
    .button-box {text-align: center;}
    main section {text-align: center;}
    #background {
        height: 725px;
    }
    body {
        background-color:#929487;
    }
    header {
        background-color:#6B6054;
    }
    nav a:hover {
        background-color: white;
        color: #6B6054;
    }
    .book:hover, .join:hover {
        background-color:#DDD1C7;
        color: black;
    }
    #background {
        background-color:#DDD1C7;
        line-height: 1.5em;
    }
    .msg {
        background-color: black;
        line-height: 1.5em;
    }
    footer {
        background-color:#929487;
        color: black;
    }
    nav a {
        background-color:#DDD1C7;
        color:#6B6054;
    }
    .home-title {
        background-color:#6B6054;
        color: black;
        font-family: 'Fuzzy Bubble', 'Raleway';
        font-size: 2em;

    }
    h4 {
        background-color: #DDD1C7;
        color: black;
    }
    .book, .join {
        background-color:white;
        color: black;
        font-family: 'Fuzzy Bubble', 'Raleway', sans-serif;
        font-size: 18px;
    }
    .msg h2{
        background-color: #A1B0AB;
        color: #6B6054;
    }
    .msg p {
        background-color: #DDD1C7;
        color:#6B6054;
        font-family: 'Fuzzy Bubble', 'Raleway', sans-serif;
        font-size: .8em;
    }
    footer a {
        background-color: #DDD1C7;
        color: #6B6054;
    }
    footer a:hover {
        background-color: #6B6054;
        color: white;
    }
    footer p {
        font-size: 2.0em;
    }
    footer p a:hover {
        text-decoration: underline;
    }